@font-face {
    font-family: Bebas-Regular;
    src: url(Bebas-Regular.ttf)
}

body {
    margin: 0;
    font-family: Bebas-Regular, sans-serif;
    background-color: #F2F6F3;
}

/* remove default link style */
a {
    text-decoration: none;
    display: inline-block;
}

/* layout */
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ---------- TOP ---------- */
.box1 {
    background-color: #3E8E6F;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    background-color: #5FAF8F;
    border-radius: 8px;
    transition: 0.15s;
    font-size: 24px;
    color: white;



}

.small-box:hover {
    background-color: #1b5e20;
    transform: scale(1.05);
}

.box2 {
    flex: 1;
    text-align: center;
    padding: 80px 20px;

    /* GIF BAGGRUND */
    background:
            url("https://i.pinimg.com/originals/b1/94/6f/b1946f0da1fab6cf3bbfac256c72d20d.gif") center/cover no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-box {
    color: white;
    padding: 30px;
    font-size: 75px;
    width: 300px;
    margin: 0 auto 40px auto;
    border-radius: 12px;
}

.two-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option-box {
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
    font-size: 35px;
    border: 2px solid white;
}

.option-box:hover {
    background-color: #1b5e20;
    transform: scale(1.05);
}

/* ---------- BOTTOM ---------- */
.box-3 {
    background-color: #2F6F57;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.downloadknap {
    background-color: #eaba49;
    color: white;
    padding: 20px 60px;
    font-family: Bebas-Regular, sans-serif;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.15s;
}

.downloadknap:hover {
    background-color: #D9A62E;
    transform: scale(1.05);
}
