
body {
    margin: 0;
    font-family: Bebas, sans-serif;
    background-color: #F2F6F3
;
}


.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.box1 {
    background-color: #3E8E6F

;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.small-box {
    width: 150px;
    height: 60px;
    background-color: #5FAF8F;
    border-radius: 8px;
}
.small-box:hover{
    background-color: #1b5e20;
}


.box2 {
    flex: 1;
    text-align: center;
    padding: 80px 20px;
}

.main-box {
    background-color: #3E8E6F
;
    color: white;
    padding: 30px;
    font-size: 32px;
    width: 300px;
    margin: 0 auto 40px auto;
    border-radius: 12px;
}

.two-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option-box {
    background-color: #3E8E6F
;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.option-box:hover {
    background-color: #1b5e20;
}


.box-3 {
    background-color: #2F6F57;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.downloadknap {
    background-color: #E9B949
;
    color: white;
    padding: 20px 60px;
    font-family: Bebas;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.downloadknap:hover {
    background-color: #D9A62E
;
}
